* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.firsthalf {
  background-color: #db524d;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

nav {
  grid-column: 1/6;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.6em;
  margin-bottom: 1em;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding-left: 14vw;
}

nav li {
  display: flex;
  margin-right: 1vw;
  padding: 0.3em 0.7em 0.3em 0.7em;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
}

nav svg {
  display: flex;
}

nav p {
  font-weight: 700;
  font-size: 1.7rem;
  color: white;
}
nav a {
  text-decoration: none;
}

nav a:link {
  color: white;
}
nav a:visited {
  color: white;
}
.border {
  grid-column: 2/5;
  border-bottom: 0.1px solid #696969;
  opacity: 0.4;
}
.checkmark {
  margin-left: 5em;
}

.timerbox {
  grid-column: 1/6;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 2em 20em 0em 20em;
  background-color: rgba(255, 255, 255, 0.3);
}

.timerbox ul {
  list-style-type: none;
  display: flex;
  padding-top: 0.5em;
}

.timerbox li {
  padding: 0.3em 0.7em 0.3em 0.7em;
  color: white;
}
.timerbox li:hover {
  border-radius: 5px;
  cursor: pointer;
  background-color: #af423e;
}
