* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.firsthalf {
  background-color: #db524d;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

nav {
  grid-column: 1/6;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.6em;
  margin-bottom: 1em;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding-left: 14vw;
}

nav ul li {
  display: flex;
  margin-right: 1vw;
  padding: 0.3em 0.7em 0.3em 0.7em;
  background-color: white;
  opacity: 0.5;
  border-radius: 5px;
}

nav svg {
  display: flex;
}

nav p {
  font-weight: 700;
  font-size: 1.7rem;
  color: white;
}

.checkmark {
  margin-left: 5em;
}

.timerbox {
  grid-column: 1/6;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.timerbox ul {
  list-style-type: none;
  display: flex;
}
