* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.firsthalf {
  background-color: #db524d;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

nav {
  grid-column: 1/6;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.1em;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding-left: 14vw;
}

nav ul li {
  display: flex;
  margin-right: 1vw;
  padding: 0.5em;
  background-color: white;
  opacity: 0.5;
}

nav svg {
  display: flex;
}
